:root {
  --ui-bg: #3b3b3b;
  --ui-bg2: #b2b2b2;
  --main-bg: #fff;
  --main-text: #000;
  --ui-text: #cdcdcd;
  --ui-focus: #545454;
  --ui-hover: #656565;
  --header-base-size: 4vw;
  --header-font-size: 1.5vw;
}
@media screen and (max-width: 480px) {
  :root {
    --header-base-size: 10vw;
    --header-font-size: 4vw;
  }
}
@media (prefers-color-scheme: light) {
  :root {
    --ui-bg: #3b3b3b;
    --ui-bg2: #b2b2b2;
    --ui-text: #cdcdcd;
    --main-bg: #fff;
    --main-text: #000;
  }
  body>.hero {
    background-image: url("img/hero-light.jpg");
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --ui-bg: #e6e6e6;
    --ui-bg2: #4c4c4c;
    --ui-text: #1c1c1c;
    --main-bg: #000;
    --main-text: #fff;
  }
  body>.hero {
    background-image: url("img/hero-dark.jpg");
  }
}
* {
  width: 100%;
  margin: 0;
  text-decoration: none;
}
html,
body {
  padding: env(safe-area-inset-left) env(safe-area-inset-top) env(safe-area-inset-right);
  background-color: var(--main-bg);
  font-family: -apple-system, 'BlinkMacSystemFont', 'Hiragino Kaku Gothic ProN', 'メイリオ', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}
body>.hero {
  display: flex;
  height: calc(100vh - var(--header-base-size));
  color: var(--main-text);
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  align-items: center;
}
body>.hero .layout {
  padding-left: 15vw;
}
body>.hero .layout .sub-title {
  font-size: 2vw;
}
body>.hero .layout h1 {
  line-height: 1;
  font-size: 6vw;
  font-weight: bold;
}
header {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: sticky;
  top: 0;
  background-color: var(--main-bg);
  height: var(--header-base-size);
  font-size: var(--header-font-size);
}
header .icon {
  display: inline-block;
  box-sizing: border-box;
  width: var(--header-base-size);
  height: var(--header-base-size);
  border: solid 0.3vw #000;
}
header nav {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100vw - var(--header-base-size));
  height: var(--header-base-size);
  line-height: var(--header-base-size);
  background-color: transparent;
}
header nav a {
  display: inline-block;
  text-align: center;
  background-color: var(--ui-bg);
  color: var(--ui-text);
}
header nav a .icon {
  font-size: 8vw;
}
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  box-sizing: border-box;
  padding: 2vw;
  color: var(--main-text);
}
main .card {
  flex-basis: 47vw;
  margin-bottom: 2vw;
  background-color: var(--ui-bg2);
  border-radius: 5px;
}
@media screen and (max-width: 480px) {
  main .card {
    flex-basis: 96vw;
  }
}
